* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh; /*Propriedade que garante a visualização do conteudo em 100% da altura da tela*/
    background-color: #000000; /* Cor do fundo*/
    color: #F6F6F6;/* Cor do texto*/
    box-sizing: border-box; /* Define os elementos para que fiquem dentro do elemento body */
    
}

.titulo-destaque {
    color: #22D4FD;
}

