@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --primaria:#dcd7c9;
    --secundaria:#2c3639;
    --terciaria:#a27b5c;
    --cor-hover:#3f4e4f;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    /*RESET CSS*/
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--secundaria);
    color: var(--primaria);
    box-sizing: border-box;  
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

main {
    height: 100%;
}

footer {
    background-color: var(--terciaria);
    color: var(--secundaria);
    text-align: center;
    padding: 24px;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.cabecalho {
    padding: 5% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    color: var(--Azul-claro, var(--terciaria));
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.apresentacao {
    display: flex;
    align-items: center;
    /* margin: 10% 15%; */
    padding: 8% 15%;
    gap: 60px;
}

.titulo-destaque {
    color: var(--terciaria);
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;


}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
}

.apresentacao__conteudo__paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
}

.apresentacao__conteudo__botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__conteudo__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    size: 24px;
}

.conteudo__botao {
    font-family: var(--fonte-secundaria);
    color: var(--primaria);
    background-color: none;
    width: 378px;
    vertical-align: middle;
    align-content: center;
    text-align: center;
    border: 2px solid var(--terciaria);
    border-radius: 8px;
    font-size: 24px;
    padding: 16px 0;
    text-decoration: none;
    font-weight: 600;
}
.conteudo__botao:hover {
    border: 3px dashed var(--primaria);
    background-color: #272727;
    color: var(--primaria);
}